@import "variables";

.contact-us {
  height: 680px;
  background-color: $dark-white;
  scroll-behavior: smooth;

  .button {
    svg {
      height: 20px;
      margin-bottom: -4px;
      margin-right: 7px;
    }
  }

  .background {
    background-color: $dark-white;
  }

  .bg-text {
    padding-top: 40px;
    color: $primary-white;
  }

  .input {
    height: 50px;
    padding-left: 20px;
  }

  .input-text-area {
    padding: 10px 20px;
  }

  .form-row>.col, .form-row>[class*=col-] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .input, .input-text-area {
    border-radius: 5px;
    border: none;
    outline: none;
    white-space: nowrap;
    transition: all 0.4s ease 0s;
  }

  .input::placeholder, .input-text-area::placeholder {
    color: #B3B3B3;
  }

  .input:active, .input:focus, .input-text-area:active, .input-text-area:focus {
    box-shadow: 0 10px 12px -3px rgba(0,0,0,0.10);
  }

  .contact-form {
    padding-top: 60px;
  }

  .send-btn {
    padding-top: 35px;
  }

  .form-control {
    font-family: $light-text;
    color: #1F2023;
    font-size: 18px;
    letter-spacing: 0.025em;
  }

  @media only screen and (max-width: 768px) {
    height: 700px;

    .form-control {
      font-size: 16px;
    }

    .input {
      height: 40px;
    }

    .bg-text {
      font-size: 4em;
      padding-top: 40px;
    }

    .contact-form {
      padding-top: 20px;
    }

    .form-row {
      margin-top: 0 !important;

      .col-sm-12 {
        margin-bottom: 24px;
      }
    }
  }

  @media only screen and (max-width: 576px) {
    height: 640px;

    .bg-text {
      font-size: 3em;
      padding-top: 20px;
    }

    .form-control {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 412px) {
    .bg-text {
      font-size: 2.5em;
    }
  }

  @media only screen and (max-width: 340px) {
    .bg-text {
      font-size: 2em;
    }
  }
}
