.contact-us {
  height: 740px;
  background-color: #EDEDED;

  .button {
    svg {
      height: 20px;
      margin-bottom: -4px;
      margin-right: 7px;
    }
  }

  .background {
    background-color: #EDEDED;
  }

  .bg-text {
    color: #FFFFFF;
  }

  .input {
    height: 50px;
    padding-left: 20px;
  }

  .input-text-area {
    padding: 10px 20px;
  }

  .form-row>.col, .form-row>[class*=col-] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .input, .input-text-area {
    border-radius: 5px;
    border: none;
    outline: none;
    white-space: nowrap;
    transition: all 0.4s ease 0s;
  }

  .input::placeholder, .input-text-area::placeholder {
    color: #B3B3B3;
  }

  .input:active, .input:focus, .input-text-area:active, .input-text-area:focus {
    box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.37);
  }

  .contact-form {
    padding-top: 210px;
  }

  .send-btn {
    padding-top: 35px;
  }

  @media only screen and (max-width: 768px) {
    .contact-form {
      padding-top: 150px;
    }

    .form-control {
      font-size: 16px;
    }

    .input {
      height: 40px;
    }
  }

  .form-control {
    font-family: 'Montserrat', sans-serif;
    color: #1F2023;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.025em;

    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }

    @media only screen and (max-width: 516px) {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 516px) {

    height: 640px;

    .contact-form {
      padding-top: 100px;
    }

    .form-row {
      margin-top: 0 !important;

      .col-sm-12 {
        margin-bottom: 24px;
      }
    }
  }
}
