.logo-block {
  background-image: url("../images/bg.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width: 575px) {
    height: 100vh;
  }

  .container {
    padding-top: 20px;
    padding-bottom: 150px;
  }

  .button {
    padding-top: 12px;
    display: inline-block
  }

  .button:hover {
    text-decoration: none;
    color: #FFFFFF;
  }

  .logo-text {
    font-family: 'montserratblack', sans-serif;
    margin-top: 115px;
    font-weight: 900;
    color: #FEFEFE;
    font-size: 75px;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    text-shadow: 0 15px 30px 20px rgba(0,0,0,0.05);

    .thin {
      font-family: 'montserratextralight', sans-serif;
    }

    @media only screen and (max-width: 1080px) {
      font-size: 4em;
      margin-top: 100px;
      line-height: 80px;

    }

    @media only screen and (max-width: 768px) {
      font-size: 3.5em;
      margin-top: 40px;
      line-height: 80px;
    }

    @media only screen and (max-width: 516px) {
      margin-top: 20px;
      font-size: 3em;
      line-height: 80px;
    }

    @media only screen and (max-width: 416px) {
      margin-top: 20px;
      font-size: 3em;
    }

    @media only screen and (max-width: 340px) {
      margin-top: 50px;
      font-size: 2.3em;
      line-height: 60px;

    }

  }

  .btn-row {
    margin-top: 65px;
  }

  .navbar-brand {
    width: 200px;
  }

  .burger {
    font-size: 36px;
  }

  .nav-link {
    font-family: 'montserratregular', sans-serif;
    transition: all .4s ease-in-out;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    font-size: 18px;
    color: #212529;
  }

  .nav-link:hover {
    cursor: pointer;
    font-family: 'montserratmedium', sans-serif;
    transform: scale(1.1);
  }

  @media only screen and (max-width: 768px) {

    .button {
      padding-top: 6px;
    }

    .navbar-brand {
      width: 150px;
    }

    .container {
      padding-bottom: 80px;
    }

    .logo-text {
      margin-right: 0;
      margin-left: 0;
    }

    .btn-row {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
