@import "logo-block";
@import "contact-us-block";
@import "services-block";
@import "testimonials-block";
@import "our-work-block";
@import "fonts-styles";
@import "menu";

body {
  background-color: #FAFAFA;
  scroll-behavior: smooth;
}

.thin {
  font-family: 'montserratextralight', sans-serif;
}

.container {
  max-width: 1070px;
}

.line {
  border: 2px #17E197 solid;
  background-color: #17E197;
  border-radius: 2px;
  width: 10px;
  margin-top: 15px;
}

.button {
  font-family: 'montserratregular', sans-serif;
  width: 200px;
  height: 46px;
  border-radius: 23px;
  border: none;
  background-color: #17E197;
  color: #FFFFFF;
  box-shadow: 0px 20px 36px -20px rgba(0,0,0,0.37);
  cursor: pointer;
  outline: none !important;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  text-align: center;

  @media only screen and (max-width: 768px) {
    width: 150px;
    height: 35px;
    font-size: 16px;
  }

}

.button:hover {
  box-shadow: 0px 28px 44px -17px rgba(0,0,0,0.37) !important;
}

.bg-text {
  font-family: 'montserratblack', sans-serif;
  color: #f1f1f1;
  font-size: 60px;
  text-transform: uppercase;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media only screen and (max-width: 768px) {
    font-size: 5em;
  }

  @media only screen and (max-width: 516px) {
    font-size: 4em;
  }

  @media only screen and (max-width: 416px) {
    font-size: 3em;
  }

  @media only screen and (max-width: 375px) {
    font-size: 2.8em;
  }
}

.swiper-button-next {
  background: none;
}

.swiper-button-prev {
  background: none;
}

.green-text {
  color: #17E197;
}

.footer {
  height: 65px;
  background-color: #333;

  .col {
    padding-top: 23px;
  }

  p {
    color: #CCCCCC;
    font-size: 14px;
    font-weight: 300;
  }

  @media only screen and (max-width: 516px) {
    text-align: center;
    p {
      font-size: 10px;
    }
  }
}
