.our-work-block {
  background: #EDEDED;
  scroll-behavior: smooth;

  padding-bottom: 50px;

  .bg-text {
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 60px;
  }

  .our-work-content {
    padding-top: 20px;

    h4 {
      padding-bottom: 20px;
      font-size: 18px;
      font-family: 'montserratmedium', sans-serif;
    }

    p {
      font-family: 'montserratextralight', sans-serif;
      font-weight: 200;
      font-size: 16px;

      color: #737373;
    }
  }

  .eye-row {
    padding-top: 50px;
    bottom:0
  }

  .swiper-work {
    height: 500px;
    padding-top: 40px;

    .swiper-pagination-bullet-active {
      background: #17E197;
      width: 10px !important;
      height: 10px !important;
      margin-bottom: -2px !important;
    }

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      margin: 0 8px;
    }

    .swiper-pagination-work {
      margin-top: 40px;
    }
  }

  .open-eye {
    display: none;

    svg {
      height: 18px;

      padding-right: 7px;
      margin-bottom: -2px;
    }
  }

  .close-eye {
    svg {
      height: 11px;

      padding-right: 10px;
      margin-bottom: -2px;
    }
  }

  @media only screen and (max-width: 900px) {
    .photo-work {
      order: -1;
    }

    .our-work-content {
      text-align: center;
    }

    .eye-row {
      text-align: center;
      padding-top: 20px;
    }

    .swiper-work {
      height: 690px;
    }
  }

  @media only screen and (max-width: 800px) {
    .bg-text {
      font-size: 4em;
      padding-top: 40px;
    }

    .swiper-pagination-work {
      margin-top: 0;
    }
  }

  @media only screen and (max-width: 576px) {
    padding-bottom: 20px;

    .swiper-work {
      height: 580px;
      padding-top: 20px;
    }

    .our-work-content {
      margin: 0;
      text-align: center;

      h4 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }

      padding-top: 0 !important;
    }

    .work-text {
      padding-top: 20px;
    }

    .photo-work {
      order: -1;
    }

    .swiper-pagination-work {
      margin-top: 0;
      order: 1;
    }

    .bg-text {
      font-size: 3em;
      padding-top: 20px;
    }

    .eye-row {
      text-align: center;
      padding-top: 10px;
      padding-right: 0 !important;
      margin: 0;
    }
  }

  @media only screen and (max-width: 412px) {
    .bg-text {
      font-size: 2.5em;
    }
  }

  @media only screen and (max-width: 375px) {
    .swiper-work {
      height: 580px;
    }
  }

  @media only screen and (max-width: 340px) {
    .bg-text {
      font-size: 2em;
    }
  }
}
