.our-work-block {
  background: #EDEDED;
  font-size: 18px;
  scroll-behavior: smooth;

  padding-bottom: 50px;

  .bg-text {
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 60px;
  }

  .our-work-content {
    padding-top: 20px;

    h4 {
      padding-bottom: 20px;
      font-size: 18px;
    }

    p {
      font-weight: 200;
      color: #737373;
    }
  }

  .eye-row {
    padding-top: 50px;
  }

  .swiper-work {
    height: 500px;
    padding-top: 40px;

    .swiper-pagination-bullet-active {
      background: #555555;
      width: 10px !important;
      height: 10px !important;
      margin-bottom: -2px !important;
    }

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      margin: 0 8px;
    }

    .swiper-pagination-work {
      margin-top: 40px;
    }
  }

  .open-eye {
    display: none;

    svg {
      height: 18px;

      padding-right: 7px;
      margin-bottom: -2px;
    }
  }

  .close-eye {
    svg {
      height: 11px;

      padding-right: 10px;
      margin-bottom: -2px;
    }
  }

  @media only screen and (max-width: 768px) {
    font-size: 16px;

    .swiper-work {
      height: 400px;
    }

    .our-work-content {
      h4 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }
    }

    .eye-row {
      padding-top: 20px;
    }

    padding-top: 0 !important;
  }

  @media only screen and (max-width: 576px) {

    padding-bottom: 20px;


    .swiper-work {
      height: 580px;
      padding-top: 20px;
    }

    .our-work-content {
      margin: 0;
      text-align: center;

      h4 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }

      padding-top: 0 !important;
    }

    .work-text {
      padding-top: 20px;
    }

    .photo-work {
      order: -1;
    }

    .mac-mini {
      visibility: visible;
      padding-top: 30px !important;
    }

    .swiper-pagination-work {
      margin-top: 0px;
      order: 1;
    }

    .bg-text {
      padding-top: 20px;
    }

    .eye-row {
      text-align: center;
      padding-top: 10px;
      padding-right: 0 !important;
      margin: 0;

      .col {
        padding-right: 0;
      }
    }
  }
}
