.services-block {
  background: #FFFFFF;
  text-align: center;
  padding-bottom: 150px;

  svg path {
    fill: #17E197
  }

  font-family: 'montserratextralight', sans-serif;

  .about-us {
    padding-top: 50px;
    font-size: 18px;
    font-family: 'montserratextralight', sans-serif;
    padding-bottom: 60px;
  }

  svg rect {
    fill: #17E197
  }

  svg {
    height: 70px;
  }

  .bg-text {
    padding-top: 60px;
  }

  .services-block-text {
    color: #0C0C0C;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 80px
  }

  .services-title {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #17E197;
    text-transform: uppercase;
    font-family: 'montserratmedium', sans-serif;
  }

  .services-info {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 300;
  }

  @media only screen and (max-width: 908px) {
    .bg-text {
      padding-top: 40px;
      padding-bottom: 0;
    }

    .services-item {
      margin-top: 40px;
    }

    .about-us {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    padding-bottom: 80px;

  }


  @media only screen and (max-width: 800px) {

    padding-bottom: 80px;

    .services-item {
      margin-top: 50px;
    }

    .bg-text {
      font-size: 4em;
      padding-top: 20px;
    }

    .services-block-text {
      margin-bottom: 0px;
      padding-top: 15px;
      font-size: 22px;
    }

    .services-title {
      padding-top: 15px;
      font-size: 16px;
    }

    .services-info {
      padding-top: 10px;
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 575px) {

    svg {
      height: 50px;
    }

    padding-bottom: 60px;
    .services-item {
      margin-top: 40px;
    }

    .bg-text {
      font-size: 3em;
      padding-top: 20px;
    }

    .services-block-text {
      padding-top: 10px;
      font-size: 16px;
    }

    .services-title {
      padding-top: 10px;
      font-size: 12px;
    }

    .services-info {
      padding-top: 10px;
      font-size: 12px;
    }

    .about-us {
      font-size: 14px;
      padding-top: 20px;
      padding-bottom: 0;
    }
  }

  @media only screen and (max-width: 375px) {

    padding-top: 70px;

    .bg-text {
      font-size: 2.5em;
    }
  }
}
