.testimonials-block {
  background-color: #FFFFFF;
  padding-bottom: 60px;
  font-size: 18px;

  .background {
    background: #FFFFFF !important;
  }

  .bg-text {
    padding-top: 60px;
  }

  .justify-content-center {
    margin: 0;
  }

  .swiper-slide .text-center {
    padding-top: 70px;
  }

  .swiper-container {
    width: 100%;
    height: 450px;

    .swiper-pagination-bullet-active {
      background: #17E197;
      width: 10px !important;
      height: 10px !important;
      margin-bottom: -2px !important;
    }

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      margin: 0 8px;
    }
  }

  .circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;

    height: 100px;
  }

  .testimonial-descr {
    font-family: 'montserratlight', sans-serif;
    padding-top: 30px;
    font-weight: 300;
    color: #737373;
  }

  .name {
    font-family: 'montserratmedium', sans-serif;
    padding-top: 20px;
    font-weight: 500;
  }

  .position {
    font-family: 'montserratlight', sans-serif;
    padding-top: 8px;
    font-weight: 300;
  }

  @media only screen and (max-width: 768px) {
    padding-bottom: 40px;
    font-size: 16px;

    .justify-content-center {
      padding-top: 20px;
    }

    .nav {
      display: none;
    }

    .bg-text {
      font-size: 4em;
      padding-top: 40px;
    }

    .swiper-container {
      height: 500px;
    }
  }

  .nav {
    height: 74px;
    width: 74px;
    background-color: #17E197;
    border-radius: 100%;
    box-shadow: 0px 15px 39px -14px rgba(0,0,0,.34) !important;
  }

  .nav:hover {
    box-shadow: 0px 15px 39px -11px rgba(0,0,0,.34) !important;
    transition: all 0.3s ease 0s;
  }

  .nav .material-icons {
    padding-top: 19px;
    padding-left: 18px;
    color: white;
    font-size: 36px;
  }

  @media only screen and (max-width: 576px) {
    padding-bottom: 15px;

    .bg-text {
      font-size: 3em;
      padding-top: 20px;
    }

    .nav {
      display: none;
    }

    .swiper-slide .text-center {
      padding-top: 20px;
    }

    .swiper-container {
      height: 450px;
    }

    .justify-content-center {
      padding-top: 0;
    }
  }

  @media only screen and (max-width: 412px) {
    .bg-text {
      font-size: 3em;
      padding-top: 20px;
    }
  }
}
